/* Remember to download Noto Sans and Montserrat fonts from Google Fonts: https://fonts.google.com/ */

:root {
    font-family: "Noto Sans", sans-serif;
    font-size: 18px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

.extra-bold {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
}

.download-button {
    padding: 1em 1.5em;
    font-size: 18px;
    text-align: center;
    border: none;
    border-radius: 40px;
    color: black;
}

.download-button > img {
    vertical-align: text-bottom;
    max-width: 90%;
}

.big-button {
    padding: 1.1em 1.5em;
    font-size: 18px;
    text-align: center;
    border: none;
    border-radius: 40px;
    color: white;
    background-color: black;
}

.small-button {
    padding: 0.75em 1em;
    font-size: 14px;
    text-align: center;
    border: none;
    border-radius: 40px;
    color: black;
    background-color: white;
}

.small-button-purple {
    padding: 0.75em 1em;
    font-size: 14px;
    text-align: center;
    border: none;
    border-radius: 40px;
    color: black;
    background-color: #404eed;
}

.small-button-purple a {
    color: white;
    text-decoration: none;
}
/*body > * {
    padding: 0 20%;
}*/

header {
    background-color: #404eed;
    position: relative;
    width: 100%;
    height: 652px;
    z-index: 0;
}
/*HEADER*/

header > img:nth-child(1) {
    position: absolute;
    object-fit: none;
    bottom: 0;
    z-index: 1;
}
.first-layer {
    display: flex;
    justify-content: space-around;
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 1;
}

/*navbar*/
.navbar {
    padding: 0 363px;
}

.navbar > nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.navbar nav ul {
    display: flex;
    gap: 40px;
    list-style: none;
}

.navbar nav ul a {
    text-decoration: none;
    color: white;
}

.navbar nav ul a:hover {
    text-decoration: underline;
}

/*jumbotron*/
.jumbotron {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    padding-left: 600px;
    padding-right: 600px;
    padding-top: 120px;
    text-align: center;
    color: white;
}

.jumbotron h1 {
    font-size: 60px;
    font-weight: bolder;
    margin-bottom: 30px;
}

.jumbotron h3 {
    font-size: 17px;
    font-weight: bolder;
    margin-bottom: 25px;
}
.button-header {
    display: flex;
    justify-content: space-evenly;
    padding: 0 61px;
}
/*MAIN*/

.text-img-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding-bottom: 110px;
    gap: 70px;
}

.text-img-container:nth-child(even) {
    flex-direction: row;
    background-color: #f6f6f6;
}

.text-img-container > .text {
    max-width: 430px;
}

.text > h2 {
    font-size: 48px;
    font-weight: bolder;
}

.text p,
.text-full p {
    font-size: 19px;
    font-weight: 100;
    margin-top: 20px;
}

.text-img-container-full {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    background-color: #f6f6f6;
}

.full-container {
    width: 60%;
}
.text-full,
.button-full {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.button-full {
    position: relative;
}
.img-full {
    margin: 30px;
}

.button-full > h2 {
    font-size: 30px;
}

.button-full img {
    position: absolute;
    bottom: 44px;
    left: 253px;
}
.text-full > h1 {
    font-size: 48px;
    font-weight: bold;
}

/*Footer*/

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 100px 363px;
    gap: 10px;
    color: white;
    background-color: #23272a;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 40px;
    border-bottom: 1px solid #404eed;
}

/*Footer left*/
.footer-left {
    flex: 1;
}
.footer-left > select {
    margin-bottom: 50px;
}

.social {
    display: flex;
    gap: 20px;
}
/*Footer right*/

.footer-right {
    display: flex;
    font-size: 16px;
    flex: 1;
}

.footer-right ul {
    width: 200px;
    color: #404eed;
    list-style: none;
}

.footer-right ul li {
    padding-top: 15px;
}

.footer-right ul li a {
    text-decoration: none;
    color: white;
}

.footer-right ul li a:hover {
    text-decoration: underline;
}

/*Footer bottom*/

.footer-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
